SMTP_HOST = # your SMTP HOST 
SMTP_PORT = # your SMTP PORT
SMTP_USER = # your SMTP USER
SMTP_PASS = # your SMTP PASSWORD

REDIS_HOST = # your REDIS HOST
REDIS_PORT = # your REDIS PORT
REDIS_USER = # your REDIS user
REDIS_PASS =  # your REDIS pass

API_PORT = # your api port